body{
    padding:0 !important;
 /*   background: url("../img/fundo-criativo06.png.png")  !important;*/

}
.br-info{
    background:#7e57c2 !important;
}

a.nav-link{
    margin-left: 20px;
}

a.nav-link:hover{
    /*border-bottom: 0.1em solid #eaff00;*/
    color:black !important;
}

.id-recomendado{
  /* width:100% !important;*/

    text-align: center;
    background: #7e57c2;
    color:white;
}

.id-sobre{
    /* width:100% !important;*/
    margin-top:0.2em;
      text-align: center;
      background: #7e57c2;
      color:white;
  }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.sobre{
    width: 100%;

}

.p-3 {
     padding: 0 !important; 
}
/* css do novo carrousel*/


.btn-primary{
    width:15em;
    border:none !important;
    background: #ffde59 !important;
    color:black;
}
.btn-primary:hover{
    color:black;
}


.id-documentos{
    /* width:100% !important;*/
  
      text-align: center;
      background: #7e57c2;
      color:white;
  }  

  

  .cartoes{
      color:black;
      width:100%;
    
  }
  .footer{
    /* width:100% !important;*/
  
      text-align: center;
      background: #7e57c2;
      color:white;
      margin-bottom: 0;
  } 

h4{
padding:1em;
background:#7e57c2;
color:white;
}

.galeria{
    margin-top:1em;
}

.hvr-shutter-in-horizontal:hover{
   background:#7e57c2;
   
}

.col-sm-4{
    padding:0.5em;
}
.btn-success{
    background:#ffde59;
    color:black;
    border:none;
}
.btn-success:hover{
    background: #7e57c2;
    color:white;
}


.fundo-tudo{
    height:100% !important;
    background: url("../img/fundo_luz3.png")  !important;
   background-repeat: no-repeat;
   background-attachment: fixed !important;
   background-size: cover;
}
.hvr-grow-shadow{
    padding:0.2em;
}
figcaption{
    opacity: 0;
    color: white;
    background-color: rgba(0,0,0,0);
    position: absolute;
    transition: opacity 1s;
    top:1em;
}
.figura:hover figcaption{
    opacity: 1;
}
